html {
  margin: 0;
}

body {
  margin: 20px 0 0;
}

.p-window {
  position: relative;
  margin: 0 auto;
  background-color: #000;
  width: 320px;
  height: 320px;
}

.p-ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.p-hand {
  position: absolute;
  width: 50px;
  height: 10px;
  background-color: #fff;
}

.p-hand--left {
  bottom: 50px;
  left: 50px;
}

.p-hand--right {
  bottom: 50px;
  right: 50px;
}
